[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sync-py = {editable = true, path = "."}
pylint = "*"
python-dotenv = "*"
bump2version = "*"

[packages]
requests = "*"

[requires]
python_version = "3.7"
