[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
python-dotenv = "*"
bump2version = "*"
sync-py = {editable = true, path = "."}

[packages]
requests = "*"

[requires]
python_version = "3"

[scripts]
test_users = "python ./test/users.py"
unit_test = "python ./test/unit_testing.py"